$bg: #0B0F10;
$bg-alt: #101415;
$fg: #c5c8c9;
$fg-alt: #cccccc;
$gray: #4c4c4c;

* {
  transition: 200ms;
  border: none;
  box-shadow: none;
}

window {
  background-color: transparent;
}

.volume_pop {
  font-family: "Iosevka Nerd Font";
  background-color: $bg;
  padding: 0.1rem;
  border-radius: 6px;
  
  label {
    font-size: 2rem;
    padding-right: 1.2rem;
    color: $fg;
  }

  scale {
    trough {
      all: unset;
      background-color: $bg-alt;
      border-radius: 6px;
      min-height: 40px;
      min-width: 200px;

      highlight {
        all: unset;
        background-color: $fg;
        border-radius: 6px;
      }
    }
    
    slider {
      all: unset;
    }
  }
}

.player_widget {
  background-color: $bg;
  border-radius: 6px; 
  padding: 15px;
  
  .player_cover {
    image {
      border-radius: 6px;
      background-color: $bg-alt;
    }
  }
  
  .player_info {
    padding-left: 15px;
    
    .player_title {
      font-size: 1rem;
      font-weight: bold;
      color: $fg;
    }
    
    .player_artist {
      font-size: 0.9rem;
      color: $fg-alt;
    }

    .player_progress {
      margin-top: 55px;
      
      scale {
        trough {
          all: unset;
          background-color: rgba($gray, 0.3);
          border-radius: 6px;
          min-height: 20px;
          min-width: 100px;
          padding-left: 0px;
          padding: 0px;
          padding-right: 0px;
          
          highlight {
            all: unset;
            background-color: $fg;
            border-radius: 8px;
          }
        }
        slider { all: unset; }
      }
    }
  }
}
